{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Turners Online Auctions FAQ</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

</head>


<body>
  <header class="d-flex fade-in">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="http://localhost:8000/">
        <img src={% static "/Turners-Logo.gif" %} width="190" height="30" alt="turners-logo">
      </a>
      <div class="navbar-links text-right">
        <a href="https://www.turners.co.nz/Cars/Used-Cars-for-Sale/?sortorder=7&pagesize=24&pageno=1">Find A Car <img src="https://img.icons8.com/cotton/64/000000/detective.png" width="20"/></a>
        <a href="https://www.turners.co.nz/Cars/sell-your-car/">Sell Your Car <img src="https://img.icons8.com/ios/24/000000/down-squared--v1.png"/></a>
        <a href="{% url "analyse-view" %}">Upload & Match <img src="https://img.icons8.com/dusk/64/000000/camera-identification.png" width="25"/></a>
      </div>  
    </nav>
    
  </header>

  
  <h1 class="text-center fade-in">Welcome to Turners</h1>

  <div class="cta-section text-center fade-in">
    <h3>Finding the perfect car just got easier</h3>
    <p>With <span><strong>Upload & Match</strong></span>, simply upload a picture of the type of car you're looking for and view our stock to see if we have a similar match.</p>
    <button class="cta" onclick=location.href='{% url "analyse-view" %}'>Get started with <br><strong>Upload & Match</strong></button>
  </div>  



</body>

</html>